.content-wrapper {
    margin-left: 240px;
    margin-top : 70px;
    transition : .5s;
}

.content-wrapper.hide {
    margin-left: 0;
}

.top-chart-earn {
    border-radius: 5px;
    padding-top  : 15px;
    box-shadow   : -2px 3px 13px 0px #ddd6;
}

.last-month {
    line-height: 20px;
    text-align : center;
    width      : 60%;
}


.last-month h5 {
    font-size  : 20px;
    font-weight: 500;
}

.last-month p {
    font-size: 12px;
    color    : #777;
}

.earn {
    margin: 12px 0;
}

.earn h2 {
    font-size  : 26px;
    font-weight: 600;
}

.nav-link.chart-nav.active {
    background-color: #fff !important;
    color           : var(--main-color) !important;
    border-bottom   : 2px solid var(--main-color);
    border-radius   : 0;
}


.chart-nav {
    color        : var(--second-color);
    padding      : 0 15px;
    border-radius: 0;

}

.chart-nav:hover {
    color     : var(--main-color);
    transition: .3s;
}

.chart-header-tab {
    width          : 100%;
    justify-content: flex-end;
    align-items    : center;
}

.order-ac-list {
    border-radius: 5px;
    padding      : 15px;
    box-shadow   : -2px 3px 13px 0px #ddd6;
}

.panel .panel-heading {
    color                  : var(--text-content);
    background-color       : #fff;
    padding                : 0;
    border-color           : var(--border-panel);
    height                 : 30px;
    display                : flex;
    align-items            : center;
    border-bottom          : 1px solid var(--border-panel);
    border-top-right-radius: 3px;
    border-top-left-radius : 3px;

}

.panel-tittle * {
    font-size: 13px;
}



form .form-group {
    margin-right : 15px;
    margin-top   : 15px;
    margin-bottom: 15px;
    display      : flex;
}


.form-group label {
    margin-top: 6px;
    font-size : 13px;
    color     : var(--text-content);
    width     : 8%;
}

.form-group .form-cs {
    width           : 150px;
    padding         : 10px 5px;
    font-size       : 12px;
    line-height     : 1.5;
    color           : #555;
    background-color: #fff;
    border          : 1px solid var(--border-panel);
    border-radius   : 3px;
    margin          : 0 10px;
}

.form-group .tombol .button {
    color           : wheat;
    background-color: #cc2424;
    border-color    : #b62020;
    display         : inline-block;
    margin-bottom   : 0;
    font-weight     : normal;
    text-align      : center;
    vertical-align  : middle;
    touch-action    : manipulation;
    cursor          : pointer;
    background-image: none;
    border          : 1px solid transparent;
    white-space     : nowrap;
    padding         : 6px 12px;
    font-size       : 12px;
    line-height     : 1.42857143;
    border-radius   : 3px;
    height          : 30px;
}

.tombol {
    display        : flex;
    justify-content: space-between;
    width          : 100%;
}

.tombol .btn {
    height   : 30px;
    font-size: 12px;
}

table {
    width          : 100%;
    border         : 1px solid var(--border-panel);
    max-width      : 100%;
    margin-bottom  : 17px;
    border-collapse: collapse;
    border-spacing : 0;
}

table thead {
    text-align: ;
}

table thead tr td {
    color         : #686a68;
    font-weight   : bold;
    vertical-align: middle;
    font-size     : 13px;
    border-right  : 1px solid var(--border-panel);
    padding       : 0 5px;
}

table tbody {
    vertical-align: middle;
}

table tbody tr td {
    color         : var(--text-content);
    font-weight   : normal;
    vertical-align: middle;
    font-size     : 12px;
    border        : 1px solid var(--border-panel);
    padding       : 10px;
}

.label {
    background-color: var(--label);
    display         : inline-block;
    padding         : 0px 12px;
    font-weight     : normal;
    text-align      : center;
    white-space     : nowrap;
    border-radius   : 3px;
    color           : #fff;
    font-size       : 10px;
    height          : ;
}

.label-sales {
    background-color: var(--label-sales);
    display         : inline-block;
    padding         : 0px 12px;
    font-weight     : normal;
    text-align      : center;
    white-space     : nowrap;
    border-radius   : 3px;
    color           : #fff;
    font-size       : 75%;
}

.label-tanggal {
    background-color: var(--label-tanggal);
    display         : inline-block;
    padding         : 0px 12px;
    font-weight     : normal;
    text-align      : center;
    white-space     : nowrap;
    border-radius   : 3px;
    color           : #fff;
    font-size       : 75%;
}

tbody tr td button {
    display       : inline-block;
    margin-bottom : 0;
    text-align    : center;
    vertical-align: middle;
    cursor        : pointer;
    border        : 1px solid transparent;
    white-space   : nowrap;
    padding       : 6px 12px;
    font-size     : 12px;
    border-radius : 3px;
}